# Домашнее задание «Функции и работа с данными»

In [2]:
import pandas as pd

## Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [5]:
ratings = pd.read_csv('./ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [11]:
def film_classifier(rate):
    if rate <= 2:
        return 'низкий рейтинг'
    elif rate <= 4:
        return 'средний рейтинг'
    elif rate <= 5:
        return 'высокий рейтинг'

In [12]:
ratings['class'] = ratings['rating'].apply(film_classifier)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

## Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

<code>geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
</code>

Результат классификации запишите в отдельный столбец region.

In [1]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [14]:
keywords = pd.read_csv('./ml-latest-small/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [15]:
# разворачиваю первоначальное правило в виде словаря, где город - ключ, а регион - значение.
geo_class = {}

for i in geo_data:
    for j in geo_data[i]:
        if j not in geo_class:
            geo_class[j] = i

{'москва': 'Центр', 'тула': 'Центр', 'ярославль': 'Центр', 'петербург': 'Северо-Запад', 'псков': 'Северо-Запад', 'мурманск': 'Северо-Запад', 'владивосток': 'Дальний Восток', 'сахалин': 'Дальний Восток', 'хабаровск': 'Дальний Восток'}

In [18]:
def geo_classifier(key):
    if key in geo_class:
        return geo_class[key]
    return 'undefined'

In [22]:
keywords['region'] = keywords['keyword'].apply(geo_classifier)
keywords[keywords['region']=='Центр']

         keyword   shows region
1259      москва  153050  Центр
6075   ярославль   41720  Центр
11785       тула   23898  Центр

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

1. Напишите функцию **production_year**, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

 1. для каждой строки пройдите по всем годам списка years
 1. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
 1. если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
1. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

1. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

**P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»**

In [23]:
ratings = pd.read_csv('./ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [25]:
movies = pd.read_csv('./ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [33]:
years = list(range(1950, 2011))

In [34]:
def production_year(film):
    for i in years:
        if str(i) in film:
            return i
    return 1900

In [35]:
movies['year'] = movies['title'].apply(production_year)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [37]:
data = ratings.merge(movies, on=["movieId"], how='inner')
data.head()

   userId  movieId  rating   timestamp                   title genres  year
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama  1995
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama  1995
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama  1995
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama  1995
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama  1995

In [43]:
data[['year','rating']].groupby('year').mean().sort_values(by = ['rating'], ascending = False)

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]