# Домашнее задание «Библиотека Pandas»

## Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('./dataset/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
ratings = pd.read_csv('./dataset/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [14]:
# добавление данных о фильмах в рейтинги
ratings = ratings.merge(movies, how='left')

In [46]:
#фильтрация по оценкам 5, затем вывод двух столбцов, счёт значений, 1 верхнее значение - вывести
ratings[ratings['rating']==5.0][['movieId', 'title']].value_counts().head(1)

movieId  title
318      Shawshank Redemption, The (1994)    153
dtype: int64

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [67]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [72]:
data = data.query('category == 4 | category == 12 | category == 21') #фильтрация по категориям
data = data.query('year >= 2005 & year <= 2010') # фильтрация по годам
data = data.query('quantity >= 0') # фильтрация по quantity

# найдем как называется Латвия, Литва и Эстония в этом датафрейме

data[data['country'].str.contains('lat', case=False) ]['country'].unique() #Latvia
data[data['country'].str.contains('lit', case=False) ]['country'].unique() #Lithuania
data[data['country'].str.contains('est', case=False) ]['country'].unique() #Estonia

data = data[(data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia') ] #фильтр по странам

print('Суммарное энергопотребление стран Прибалтики равно {}'.format(data['quantity'].sum()))

Суммарное энергопотребление стран Прибалтики равно 240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

www.finanz.ru...om-vremeni

In [89]:
query = pd.read_html('https://fortrader.org/quotes')
print(f'всего таблиц на странице - {len(query)}')
data = query[2] #импортировал третью таблицу

всего таблиц на странице - 9